@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css");

html, body, .content {
    background-color: black;
    color: white;
    height: 100%;
    font-family: 'IBM Plex Mono', sans-serif;
}

body {
    overflow-y: hidden;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

#image {
    max-height: 20rem;
}